*{
    box-sizing: border-box;
}
p,html,body{
    margin: 0;
    padding: 0;
}
.head{
    background-color: white;
}
body{
    line-height: 24px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: aliceblue;
}
.head .container{
    padding: 0 16px;
    height: 64px;
    display: flex;
    align-items: center;
}
.container{
    padding: 0 16px;
}
.burger__menu{
    margin-right: 13px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
}
.burger__icon{
    width: 32px;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo__icon{
    height: 24px;
    width: 128px;
}
.person__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    width: 38px;
    line-height: 38px; 
    background-color: rgb(155, 59, 230);
    border-radius: 50%;
}
.button__back{
    margin-top: 24px;
    display: flex;
    color: #0d4cd3;
}
.back__icon{
    padding-right: 10px;
}
.passport{
    background-color: white;
    border-radius: 25px;
}
.pass__copy{
    margin: 24px 0;
}
.name__pass{
    margin-bottom: 28px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}
.copy__button{
    text-align: center;
    font-size: 14px;
    color: #0d4cd3;
}
.passport{
    padding: 24px;
}
.name{
    display: flex;
    justify-content: space-between;
}
.name__text{
    font-weight: 500;
    font-size: 20px;
}
.pass__info{
    margin-top: 24px;
    color: gray;
}
.value{
    color: black;
    padding-top: 5px;
}
.number__value{
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding-top: 5px;
}
.line{
    border-top: 1px solid #e1e1e1;
    margin: 24px 0;
}
.file__input{
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #99b1e6;
    border-radius: 8px;
    height: 100px;
}
.file__input p{
    margin-left: 10px;
    color: #0d4cd3;
    
}
.faq{
    margin-top: 24px;
}
.question__icon{
    width: 10px;
    margin-top: 8px;
    height: 6px;
    margin-right: 7px;
    display: flex;
    align-items: center;
}
.faq__name{
    margin-bottom: 24px;
}
.faq__question{
    display: flex;
    color: #0d4cd3;
}
.faq__question:last-child{
    margin-top: 20px;
}